<h1>Create a New Hunt Location</h1>

<p>Enter an address at or near the new hunt location</p>

  <input type = "text" id = "address" style = 'width: 600px' placholder="Enter address to search">
  <input type = "button" id = "searchButton" value = "Search for this address">
<p>OR</p><input type = "button" id = "currentLocButton" value = "Click here for current location">

<div id="coordinates">

  <%= form_for @location do |f| %>
    <%= f.label "Latitude" %>
    <%= f.text_field :lat, :placeholder => "Latitude", :value => (number_with_precision(f.object.lat, :precision => 2) || 0) %>
    </br>
    <%= f.label "Longitude" %>
    <%= f.text_field :long, :placeholder => "Longitude", :value => (number_with_precision(f.object.long, :precision => 2) || 0) %>

    </br>
    <%= f.submit  "Save Location" %>
<% end %>
</div>

<a href="http://www.cnn.com">Add a direction clue for this location</a></br>
<a href="http://www.theonion.com">Add a treasure clue for this location</a>

<div id = "map-canvas" style="height: 200px; width: 300px">

</div>